<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Imported Rule 1" enabled="false" stopProcessing="true">
                    <match url="^([a-z]+)\/?([a-z]+)?\/?([0-9]+)?\/?$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php?Controller={R:1}&amp;Action={R:2}&amp;Id={R:3}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 1-1" stopProcessing="true">
                    <match url="^([a-z]+)\/?([a-z]+)?\/?([a-z0-9-](.*)+)?\/?$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php?Controller={R:1}&amp;Action={R:2}&amp;Id={R:3}" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
