<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <clear />
                <rule name="Imported Rule 1">
                    <match url="exibirRelatorio" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                    </conditions>
                    <action type="Rewrite" url="modulos/relatorios/php/funcoes.php" />
                </rule>
                <rule name="Imported Rule 2">
                    <match url="favExport" ignoreCase="false" />
                    <action type="Rewrite" url="modulos/favorecido/php/funcoes.php" />
                </rule>
                <rule name="Imported Rule 3">
                    <match url="RemessaHistorico" ignoreCase="false" />
                    <action type="Rewrite" url="modulos/contador/php/funcoes.php" />
                </rule>
                <rule name="Imported Rule 4" stopProcessing="true">
                    <match url="^([a-z]+)?\/?([0-9_-]+)?\/?([0-9])?\/?$" />
                    <action type="Rewrite" url="index.php?p={R:1}&amp;id_registro={R:2}&amp;retorno_ajax={R:3}" appendQueryString="false" />
                </rule>
            </rules>
        </rewrite>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
